

<div class="bank-head">

    <div class=" " style="margin-left:20px;">
        <div class="stock-info-img">
            <img class="avatar" alt="Alphabet" src="~/Content/images/bank.png">
        </div>
        <div class="stock-info ">
            <span class="stock-name-lg d-inline">Bank</span>
            <span class="sector-name d-inline">Balance</span>
            <div class="d-block">
                <div class="stock-value d-inline green"><span>$25000.0</span> </div>

            </div>
        </div>


    </div>
    
</div>


@{
    
    Html.RenderPartial("_Transactions");
}






