


@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<nav class=" navbar-light bg-light inner-header">
   <a href="#" class="button title">MARKETS</a>
    <a href="#" class="button title">CURRENT TRANSACTIONS</a>
    <a href="#" class="button title">GRAPHS</a>
</nav>
<!-- Left-Side Bar!-->

<div class="a-menu closed ">
    <div class="w-head-clone ">
        <div class="user-info ">
            <div class="user-image">
                <img class="avatar" alt="Alphabet" src="~/Content/images/user.png">
            </div>
            <div class="stock-info ">
                <span class="user-name d-inline">Shey De Woony</span>
                <button class="btn blue-button" style="margin-left:40px;"><span class="fa fa-user-circle"></span>  Profilo</button>

            </div>
        </div>

        <a class="i-menu-link">
            <span class="	fa fa-calendar"></span>&nbsp; Bank
        </a>
        <a class="i-menu-link">
            <span class="	fa fa-calendar"></span>&nbsp; Markets
        </a>
        <a class="i-menu-link">
            <span class=" fa fa-history"></span>&nbsp;History
        </a>
        <a class="i-menu-link">
            <span class=" fa fa-history"></span>&nbsp;Leader Board
        </a>

    </div>
</div>

<div class="table-custom">
    <div class="table-responsive">
        @{
           Html.RenderPartial("_MarketWindow");
           Html.RenderPartial("_LeaderBoard");
            Html.RenderPartial("_Orders");
          // Html.RenderPartial("_StockInfo");
         // Html.RenderPartial("_Transactions");
        // Html.RenderPartial("_Bank");
        }
    </div>
</div>
<!-- Right-Side Bar!-->

<div class="a-menu-right closed ">
    <div class="clock">
    </div>
   
    <div class="news-feed">
        <div class=" navbar-light bg-light transaction-bar d-inline" style=" ">
            <i class="fas fa-chart-line d-inline"></i>
            <span>Activities</span>
        </div>
        <div class="panel " style="margin-top:20px;">

            <div class="panel-collapse " id="collapseOne">
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="~/Content/images/user-chat.png" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Shey De Woony</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                                    </small>
                                </div>
                                <p>
                                    Type: Buy
                                    Units:100
                                    Open :1134
                                    Balance:10000
                                </p>
                            </div>
                        </li>

                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="~/Content/images/user-chat.png" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Imanshu Anupama</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>14 mins ago
                                    </small>
                                </div>
                                <p>
                                    Type: Sell
                                    Units:100
                                    Open :1134
                                    Balance:10000

                                </p>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="~/Content/images/user-chat.png" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Imanshu Anupama</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>14 mins ago
                                    </small>
                                </div>
                                <p>
                                    Type: Close
                                    Units:100
                                    Open :1134
                                    Close:1500
                                    Profit:400
                                    Balance:10400

                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

    </div>


</div>
<footer>
    <nav class=" navbar-light bg-light footer1">
        <div class="footer-unit balance">
            <span class="footer-bank-label d-inline">Bank</span>
            <i class="fas fa-angle-double-right d-inline" style="font-size: 45px;color:#3dbdec;padding-left:10px;"></i>
        </div>

        <div class="footer-unit balance">
            <span class="footer-unit-value ng-binding">$0.00</span>
            <span class="footer-unit-label">Available</span>
        </div>

        <div class="footer-unit balance">
            <i class="fa fa-plus-circle" style="font-size:40px;color:#3dbdec; padding-top:5px;"></i>
        </div>

        <div class="footer-unit balance">
            <span class="footer-unit-value">$0.00</span>
            <span class="footer-unit-label">Total Allocated</span>
        </div>

        <div class="footer-unit balance">
            <i class="fa fa-plus-circle" style="font-size:40px;color:#3dbdec; padding-top:5px;"></i>
        </div>

        <div class="footer-unit balance">
            <span class="footer-unit-value ">$0.00</span>
            <span class="footer-unit-label">Profit</span>
        </div>

        <div class="footer-unit balance">
            <i class="fa fa-angle-double-right" style="font-size:40px;color:#3dbdec; padding-top:5px;"></i>
        </div>

        <div class="footer-unit balance">
            <span class="footer-unit-value ">$0.00</span>
            <span class="footer-unit-label">Equity</span>
        </div>
    </nav>
</footer>
 