


@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<nav class=" navbar-light bg-light inner-header">
    <a href="#" class="button title">MARKETS</a>
    <a href="#" class="button title">ORDERS</a>
    <a href="#" class="button title">GRAPHS</a>
</nav>
<!-- Left-Side Bar!-->

<div class="a-menu closed ">
    <div class="w-head-clone ">
        <a class="i-menu-link">
            <span class="fa fa-user-circle"></span>&nbsp; Profilo
        </a>
        <a class="i-menu-link">
            <span class="	fa fa-calendar"></span>&nbsp; Markets
        </a>
        <a class="i-menu-link">
            <span class=" fa fa-history"></span>&nbsp; History

        </a>

    </div>
</div>

<div class="table-custom">
    <div class="table-responsive">
        @{
           // Html.RenderPartial("_MarketWindow");
           // Html.RenderPartial("_LeaderBoard");
          //  Html.RenderPartial("_Orders");
           Html.RenderPartial("_StockInfo");
        }
    </div>
</div>
<!-- Right-Side Bar!-->

<div class="a-menu-right closed ">
    <div class="clock">

        
        </div>



    
</div>
<footer>
    <nav class=" navbar-light bg-light footer1">
        <div class="footer-unit balance">
            <span class="footer-unit-value ng-binding">$0.00</span>
            <span class="footer-unit-label">Available</span>
        </div>

        <div class="footer-unit balance">
            <i class="fa fa-plus-circle" style="font-size:40px;color:#91ba4d; padding-top:5px;"></i>
        </div>

        <div class="footer-unit balance">
            <span class="footer-unit-value">$0.00</span>
            <span class="footer-unit-label">Total Allocated</span>
        </div>

        <div class="footer-unit balance">
            <i class="fa fa-plus-circle" style="font-size:40px;color:#91ba4d; padding-top:5px;"></i>
        </div>

        <div class="footer-unit balance">
            <span class="footer-unit-value ">$0.00</span>
            <span class="footer-unit-label">Profit</span>
        </div>

        <div class="footer-unit balance">
            <i class="fa fa-angle-double-right" style="font-size:40px;color:#91ba4d; padding-top:5px;"></i>
        </div>

        <div class="footer-unit balance">
            <span class="footer-unit-value ">$0.00</span>
            <span class="footer-unit-label">Equity</span>
        </div>
    </nav>
</footer>
 