


@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="change-panel">
    <nav class=" navbar-light bg-light inner-header">
        <a href="#" class="button title" data-toggle="tab" data-target="#stock">MARKETS</a>
        <a href="#" class="button title" data-toggle="tab" data-target="#graphs">GRAPHS</a>
        <a href="#" class="button title" data-toggle="tab" data-target="#transactions">TRANSACTIONS</a>
        <a href="#" class="button title" data-toggle="tab" data-target="#leaderBoard">LEADERBOARD</a>

    </nav>

    <div class="panel panel-default" id="togglePanel">

        <div class="tab-content">
            <div class="tab-pane active" id="stock">
                <div class="table-custom">
                    <div class="table-responsive">
                        @{
                            Html.RenderPartial("_MarketWindow");
                            Html.RenderPartial("_Orders");
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="graphs">
                <div class="table-custom">
                    <div class="table-responsive">
                        @{
                            Html.RenderPartial("_Graphs");
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="transactions">
                <div class="table-custom">
                    <div class="table-responsive">
                        @{
                            Html.RenderPartial("_Transactions");
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="bank-window">
                <div class="table-custom">
                    <div class="table-responsive">
                        @{

                            Html.RenderPartial("_Bank");
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="leaderBoard">
                <div class="table-custom">
                    <div class="table-responsive">
                        @{
                            Html.RenderPartial("_LeaderBoard");
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<!-- Left-Side Bar!-->

<div class="a-menu closed ">
    <div class="w-head-clone ">
        <div class="user-info ">
            <div class="user-image">
                <img class="avatar" alt="Alphabet" src="~/Content/images/user.png">
            </div>
            <div class="stock-info ">
                <span class="user-name d-inline" id="lblPlayerNameDisplay"></span>
            </div>
        </div>

        <a class="i-menu-link" data-toggle="tab" data-target="#bank-window">
            <span class="	fa fa-calendar"></span>&nbsp; Bank
        </a>
        <a class="i-menu-link" data-toggle="tab" data-target="#stock">
            <span class="	fa fa-calendar"></span>&nbsp; Markets
        </a>
        <a class="i-menu-link" data-toggle="tab" data-target="#leaderBoard">
            <span class=" fa fa-history"></span>&nbsp;Leader Board
        </a>

    </div>
</div>


<!-- Right-Side Bar!-->

<div class="a-menu-right closed ">

    <div class=" navbar-light bg-light transaction-bar d-inline" style=" ">
        <i class="fas fa-clock d-inline"></i>
        <span>Clock</span>
    </div>
    <div class="clock">
    </div>
    <div class=" rounds " style=" ">
        <span>Round - </span><span id="gameScrnCurntTurn"> </span>
    </div>



    <div class="news-feed">
        <div class=" navbar-light bg-light transaction-bar d-inline" style=" ">
            <i class="fas fa-newspaper d-inline"></i>
            <span>Activities</span>
        </div>
        <div class="panel " style="margin-top:20px;background-color:rgba(250,250,250,0.5);">

            <div class="panel-collapse " id="collapseOne">
                <div class="panel-body">
                    <ul class="chat" id="stocksNewsFeed"></ul>
                </div>

            </div>
        </div>

    </div>


</div>
<footer>
    <nav class=" navbar-light bg-light footer1">
        <div class="footer-unit balance">
            <span class="footer-bank-label d-inline">Bank</span>
            <i class="fas fa-angle-double-right d-inline" style="font-size: 45px;color:#3dbdec;padding-left:10px;"></i>
        </div>

        <div class="footer-unit balance">
            <span class="footer-unit-value ng-binding">RS 1000.00</span>
            <span class="footer-unit-label">Opening Balance</span>
        </div>

        <div class="footer-unit balance">
            <i class="fa fa-minus-circle" style="font-size:40px;color:#3dbdec; padding-top:5px;"></i>
        </div>

        <div class="footer-unit balance">
            <span class="footer-unit-value">Rs <span id="playerAllocatedBalance"> 0.00</span></span>
            <span class="footer-unit-label">Total Allocated</span>
        </div>

        <div class="footer-unit balance">
            <i class="fa fa-plus-circle" style="font-size:40px;color:#3dbdec; padding-top:5px;"></i>
        </div>

        <div class="footer-unit balance">
            <span class="footer-unit-value ">Rs <span id="playerProfitBalance"> 0.00</span></span>
            <span class="footer-unit-label">Profit</span>
        </div>

        <div class="footer-unit balance">
            <i class="fa fa-angle-double-right" style="font-size:40px;color:#3dbdec; padding-top:5px;"></i>
        </div>

        <div class="footer-unit balance">
            <span class="footer-unit-value ">Rs <span id="playerAccountBalance"> 1000.00</span></span>
            <span class="footer-unit-label">Balance</span>
        </div>
    </nav>
</footer>

<div id="mdlStockChart" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Turn Wise Stock Detail</h4>
            </div>
            <div class="modal-body">
                <div>
                    <canvas id="barCanvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mdlBuyStock" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Buy Stock - <span id="lblBuyStockName"> </span></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="lblJoinPlayerName"> Quantity</label>
                    <input type="hidden" id="hdnBuyStockId">
                    <input type="hidden" id="hdnBuySectorId">
                    <input type="number" class="form-control" id="txtStockQuantity" placeholder="Enter the quantity">
                </div>
                <p>Are you sure that you want to buy those stocks ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-button" onclick="buyStocks()">Buy</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="mdlSellStock" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sell Stock - <span id="lblSellStockName"> </span></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="lblJoinPlayerName"> Quantity</label>
                    <input type="hidden" id="hdnSellStockId">
                    <input type="hidden" id="hdnSellSectorId">
                    <input type="number" class="form-control" id="txtSellStockQuantity" placeholder="Enter the quantity" min="1">
                </div>
                <p>Are you sure that you want to sell those stocks ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-button" onclick="sellStocks()">Sell</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@*<div id="mdlWinner" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Game Over </h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("_Winner");
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="gameOverConfirm()">Ok</button>
            </div>
        </div>
    </div>
</div>*@

