<div class=" navbar-light bg-light transaction-bar d-inline" >
    <i class="fas fa-chart-line d-inline"></i>
    <span>Graphs</span>
</div>

<div class="col-md-12 graphs-panel">
    <div class="row" style="background-color: rgba(255,255,255,0.6);margin-bottom:15px;">
        <div>
            <canvas id="canvas" ></canvas>
        </div>
    </div>

    <div class="row"style="background-color: rgba(255,255,255,0.6);margin-bottom:15px;">
        <div>
            <canvas id="sectorCanvas"></canvas>
        </div>
    </div>

    <div class="row"style="background-color: rgba(255,255,255,0.6);margin-bottom:15px;">
        <div>
            <canvas id="stockCanvas"></canvas>
        </div>
    </div>
</div>