<div class=" navbar-light bg-light transaction-bar d-inline" >
    <i class="fas fa-chart-line d-inline"></i>
    <span>Graphs</span>
</div>

<div class="col-md-offset-2 col-md-8">
    <div class="row">
        <div>
            <canvas id="canvas"></canvas>
        </div>
    </div>

    <div class="row">
        <div>
            <canvas id="sectorCanvas"></canvas>
        </div>
    </div>

    <div class="row">
        <div>
            <canvas id="stockCanvas"></canvas>
        </div>
    </div>
</div>