
<div class=" navbar-light bg-light transaction-bar d-inline" style=" ">
    <i class="fas fa-chart-line d-inline"></i>
    <span>Leader Board</span>
</div>
<table class=" table" style="margin-top: 30px;margin-bottom: 0px;">
    <thead>
        <tr class="table-head table-sm ">
            <th scope="col" style="text-align:left;padding-left:14px;">Rank</th>
            <th scope="col" class="col">Player</th>
            <th scope="col" class="col">Orders</th>
            <th scope="col" class="col">Profit</th>
            <th scope="col" class="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-row">
            <td>

                <div class="rank"><span>#1</span> </div>

            </td>
            <td>
                <center>
                    <div class="stock-img">
                        <img class="avatar" alt="Alphabet" src="https://png.icons8.com/color/50/000000/person-male.png">
                    </div>
                    <div class="stock-info">
                        <span class="stock-name">Shey De </span>
                        <span class="sector-name">Woony</span>
                    </div>
                </center>
            </td>
            <td>

                <div class="orders"><span>6</span> </div>

            </td>
            <td>
                <div class="profit ">
                    <span class="profit-amount ">5.52%</span>
                    <span class="profit-protsent ">(53.95)</span>
                </div>
            </td>
            <td>

                <div class="score"><span>56</span> </div>

            </td>


        </tr>
        <tr class="table-row">
            <td>

                <div class="rank"><span>#2</span> </div>

            </td>
            <td>
                <center>
                    <div class="stock-img">
                        <img class="avatar" alt="Alphabet" src="https://png.icons8.com/color/50/000000/person-male.png">
                    </div>
                    <div class="stock-info">
                        <span class="stock-name">Imanshu </span>
                        <span class="sector-name">Anupama</span>
                    </div>
                </center>
            </td>
            <td>

                <div class="orders"><span>4</span> </div>

            </td>
            <td>
                <div class="profit ">
                    <span class="profit-amount ">5.52%</span>
                    <span class="profit-protsent ">(53.95)</span>
                </div>
            </td>
            <td>

                <div class="orders"><span>60</span> </div>

            </td>


        </tr>

    </tbody>
</table>
