 <div class=" navbar-light bg-light transaction-bar d-inline" style=" ">
    <i class="fas fa-store d-inline"></i>
    <span>Stocks</span>
</div>
<table class=" table" style="margin-top: 30px;" id="stockMarketTable">
    <thead>
        <tr class="table-head table-sm ">
            <th scope="col" style="text-align:left;padding-left:14px;">Markets</th>
            <th scope="col" class="col">Change</th>
            <th scope="col" class="col">Previous</th>
            <th scope="col" class="col">Current</th>
            <th scope="col" class="col">Direction</th>
            <th scope="col" class="col">Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
