
<table class=" table">
    <thead>
        <tr class="table-head table-sm ">
            <th scope="col" style="text-align:left;padding-left:14px;">Markets</th>
            <th scope="col" class="col">Type</th>
            <th scope="col" class="col">Units</th>
            <th scope="col" class="col">Open</th>
            <th scope="col" class="col">Current</th>
            <th scope="col" class="col">Change</th>
            <th scope="col" class="col">Direction</th>
            <th scope="col" class="col">Profit</th>
            <th scope="col" class="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-row">
            <td>
                <div class="stock-img">
                    <img class="avatar" alt="Alphabet" src="https://etoro-cdn.etorostatic.com/market-avatars/goog/150x150.png">
                </div>
                <div class="stock-info">
                    <span class="stock-name">GOOGLE</span>
                    <span class="sector-name">Technology</span>
                </div>
            </td>
            <td>
                <div class="green"><span class="profit-amount ">SELL</span></div>
            </td>
            <td>
                <div class="units"><span>100</span> </div>
            </td>
            <td>
                <div class="stock-trade-button">
                    <div class="left-price-name">O</div>
                    <div class="price-value"><span>1146.17</span> </div>
                </div>
            </td>

            <td>
                <div class="stock-trade-button">
                    <div class="left-price-name">C</div>
                    <div class="price-value"><span>1146.17</span> </div>
                </div>
            </td>
            <td>
                <div class="red">
                    <span class="change-num-amount ">-0.52%</span>
                    <span class="change-num-protsent ">(-5.95)</span>
                </div>
            </td>
            <td style="text-align:center;">

                <i class="fa fa-arrow-up" style="font-size:30px;color:#91ba4d"></i>

            </td>
            <td>
                <div class="red">
                    <span class="profit-amount ">-5.52%</span>
                    <span class="profit-protsent ">(-53.95)</span>
                </div>
            </td>
            <td style="text-align:center;">
                <div class="trade-button ">

                    <div class="sell-botton d-inline victoria-buy"><span>CLOSE</span> </div>

                </div>
            </td>
        </tr>
        <tr class="table-row">
            <td>
                <div class="stock-img">
                    <img class="avatar" alt="Alphabet" src="https://etoro-cdn.etorostatic.com/market-avatars/goog/150x150.png">
                </div>
                <div class="stock-info">
                    <span class="stock-name">GOOGLE</span>
                    <span class="sector-name">Technology</span>
                </div>
            </td>
            <td>
                <div class="red"><span class="profit-amount ">BUY</span></div>
            </td>
            <td>
                <div class="units"><span>150</span> </div>
            </td>
            <td>
                <div class="stock-trade-button">
                    <div class="left-price-name">O</div>
                    <div class="price-value"><span>1446.17</span> </div>
                </div>
            </td>

            <td>
                <div class="stock-trade-button">
                    <div class="left-price-name">C</div>
                    <div class="price-value"><span>1346.17</span> </div>
                </div>
            </td>
            <td>
                <div class="red">
                    <span class="change-num-amount ">-10.52%</span>
                    <span class="change-num-protsent ">(-55.95)</span>
                </div>
            </td>
            <td style="text-align:center;">

                <i class="fa fa-arrow-up" style="font-size:30px;color:#91ba4d"></i>

            </td>
            <td>
                <div class="red">
                    <span class="profit-amount ">-25.52%</span>
                    <span class="profit-protsent ">(-26563.95)</span>
                </div>
            </td>
            <td style="text-align:center;">
                <div class="trade-button ">

                    <div class="sell-botton d-inline victoria-buy"><span>CLOSE</span> </div>

                </div>
            </td>
        </tr>
    </tbody>
</table>