
<div class="bank-head">

    <div class="stock-info">

        <div class="row" style="margin-left:20px; ">
            <div class="stock-info-img">
                <img class="avatar" alt="Alphabet" src="https://etoro-cdn.etorostatic.com/market-avatars/goog/150x150.png">
            </div>
            <div class="stock-info ">
                <span class="stock-name-lg d-inline">GOOGLE</span>
                <span class="stock-name-lg d-inline">|</span>
                <span class="sector-name d-inline">Technology</span>
                <div class="d-block">
                    <div class="stock-value d-inline green"><span>1445.0</span> </div>
                    <div class="red d-block d-inline">
                        <span class="stock-profit-amount d-inline">53.95</span>
                        <span class="stock-profit-protsent d-inline">(5.52%)</span>
                    </div>

                </div>
            </div>
            <div class="stockinfo-trade-button ">
                <div class="sell-botton d-inline victoria-buy"><span>BUY</span> </div>
                <div class="sell-botton  d-inline victoria-sell"><span>SELL</span> </div>
            </div>

        </div>
        <div class=" navbar-light bg-light stock-chart-bar d-inline">
            <i class="fas fa-chart-line d-inline"></i>
            <span>Chart</span>
        </div>

        <div class="row">

            <svg class="graph">
                <title id="title">A line chart showing some information</title>
                <g class="grid x-grid" id="xGrid">
                    <line x1="90" x2="90" y1="5" y2="250"></line>
                </g>
                <g class="grid y-grid" id="yGrid">
                    <line x1="90" x2="950" y1="250" y2="250"></line>
                </g>
                <g class="labels x-labels">
                    <text x="100" y="270">1</text>
                    <text x="190" y="270">2</text>
                    <text x="280" y="270">3</text>
                    <text x="370" y="270">4</text>
                    <text x="460" y="270">5</text>
                    <text x="550" y="270">6</text>
                    <text x="640" y="270">7</text>
                    <text x="730" y="270">8</text>
                    <text x="820" y="270">9</text>
                    <text x="910" y="270">10</text>
                    <text x="550" y="290" class="label-title">Rounds</text>
                </g>
                <g class="labels y-labels">
                    <text x="80" y="40">250</text>
                    <text x="80" y="110">200</text>
                    <text x="80" y="180">150</text>
                    <text x="80" y="250">100</text>
                    <text x="50" y="180" class="label-title">Price</text>
                </g>
                <svg viewBox="0 0 500 100" class="chart">    <polyline fill="none" stroke="#0074d9" stroke-width="2" points="       45,100       94,60       140,80       186,20       231,80       272,80       322,60       367,100       416,90       462,80         " />  </svg>
                <svg viewBox="0 0 500 100" class="chart">    <polyline fill="none" stroke="##d98d00" stroke-width="2" points="       45,60       94,80       140,100       186,40       231,60       272,80       322,100       367,100       416,40       462,60         " />  </svg>

            </svg>

        </div>



    </div>
</div>