<div class=" navbar-light bg-light transaction-bar d-inline" style=" " >
    <i class="fas fa-chart-line d-inline"></i>
    <span>Transaction History</span>
</div>

<div style="margin-top: 30px;margin-bottom: 0px;" id="gameTransactionsDiv">

</div>