
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="gameContent">

</div>

<input type="hidden" id="hdnGameId">
<input type="hidden" id="hdnScreen">
<script src="~/Scripts/App/GameLoad.js"></script>