<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>X-SMS - @ViewBag.Title</title>

    <meta name="description" content="Stock Market simulation Game v0.1">
    <meta name="author" content="Team X">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- style CSS -->
    <link href="~/Content/GameBoardCSS/vendor/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/GameBoardCSS/resources/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="row-history"><h1>PLAYER'S HISTORY</h1></div>
    <div class="table-history">
        @RenderBody()
    </div>

    <!-- JavaScript JS -->
    <script src="~/Scripts/GameBoardJS/resource/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/GameBoardJS/resource/popper.min.js"></script>
    <script src="~/Scripts/GameBoardJS/resource/bootstrap.min.js"></script>
</body>
</html>
