<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>X-SMS - @ViewBag.Title</title>

    <meta name="description" content="Stock Market simulation Game v0.1">
    <meta name="author" content="Team X">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- style CSS -->
    <link href="~/Content/dataTables/bootstrap4/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dataTables/bootstrap4/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Content/dataTables/bootstrap4/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/dataTables/bootstrap4/jquery-3.3.1.js"></script>
    <script src="~/Content/dataTables/bootstrap4/dataTables.bootstrap4.min.js"></script>
</head>
<body>
    <div class="row-history"><h1>PLAYER'S HISTORY</h1></div>
    <div class="table-history">
        @RenderBody()
    </div>
</body>
</html>
