
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" table-history">
    <div class=" navbar-light bg-light history-bar d-inline" style="width: 660px;box-shadow: 12px 7px 9px 0 rgba(0,0,0,0.15);">
        <span class="d-block">About US</span>
    </div>
    <div class=" table-history-modified">
        <div class=" table-responsive">
            <p> This project was developed by group of students at UCD for the final year project. This project implements a Stock Market simulator.A player can create a game as public or private. If public anyone can join the game and if private only the players who have the gamecode can join the game.Maximum of 4 players and minimum of 2 players required to start a game.A Player AI could be added to the game if needed. The game has 10 rounds and each round last 1 minute. In start of each round the stock values gets changed according to the trends and events occured. Each player in a game gets an opening balance of 1000 and connected players can buy and sell stocks in each round.At the end of the round 10 the player who has invested well in stocks and gain the most profits will win the game.</p>
            <h5>UCD - Team X</h5>
            <ul>
                <li>Imanshu A H Jayasinghe - 16211270</li>
                <li>Haritha P Munashinghe - 16211254</li>
                <li>M R Shehan Z Shahib 16211157</li>
                <li>Rosa S C Imaya R - 16211178</li>
                <li>Bandara Akila H Senevirathne - 16211179</li>
                <li>Sampath Sanjeewa - 16211184</li>
            </ul>

            <h5>You can find the source code from here <a href="https://github.com/imanshu15/x-sms">X-SMS</a></h5>
            
        </div>

    </div>
</div>
