@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" table-history" >
    <div class=" navbar-light bg-light history-bar d-inline" style="width: 660px;box-shadow: 12px 7px 9px 0 rgba(0,0,0,0.15);">
        <span class="d-block">GAME HISTORY</span>
    </div>
    <div class=" table-history-modified">
        <div class=" table-responsive">
            <!-------------------------------------------------------------- History Table Start -------------------------------------------->
            <table class="table table-bordered" id="gameHistoyTable">
                <thead>
                    <tr>
                        <th>Game ID</th>
                        <th>Created Player</th>
                        <th>Number Of Players</th>
                        <th>Ended Time</th>
                        <th>Winner</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
</div>
 
</div>
</div>

<link href="~/Content/dataTables/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Content/dataTables/jquery.dataTables.min.js"></script>
<script src="~/Content/dataTables/dataTables.bootstrap.min.js"></script>

<script src="~/Scripts/App/History.js"></script>
