@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-history"><h1>GAME HISTORY</h1></div>
<div class="table-history">

    <!-------------------------------------------------------------- History Table Start -------------------------------------------->
    <table class="table table-hover table-responsive-sm" id="table-main-history" >
        <thead>
            <tr>
                <th>Game ID</th>
                <th>Created Player</th>
                <th>Number Of Players</th>
                <th>Ended Time</th>
                <th>Winner</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr data-toggle="modal" data-target="#exampleModal">
                <th scope="row">Imaya Rosa</th>
                <td>Game 1</td>
                <td id="gameInformation">No of Sell Stocks : 2 <br>No of Buy Stocks : 5 </td>
            </tr>
        </tbody>
    </table>

    <!-------------------------------------------------------------- History Table End -------------------------------------------->
    <!--------------------------------------Modal for Row Clicking Start ---------------------------------------------------------->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content-history">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">More Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-------------------------------------- Modal Body Starting -------------------------------------------------------->
                <div class="modal-body-history">
                    <div>
                        <form>
                            <div class="form-group">
                                <label for="gameID">Game ID: </label>
                                <span> <label id="gameID">1012546395</label></span>
                            </div>

                            <div class="form-group">
                                <label for="gameCode">Game Code: </label>
                                <span> <label id="gameCode">ABC1023</label></span>
                            </div>

                            <div class="form-group">
                                <label for="winner">Winner: </label>
                                <span> <label id="winner">Haritha</label></span>
                            </div>


                        </form>
                    </div>
                    <!-------------------------------------- Modal Table Starting --------------------------------------------------->
                    <div class="modal-table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>twitter</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <!-------------------------------------- Modal Table End -------------------------------------------------------->

                </div>
                <!-------------------------------------- Modal Body End -------------------------------------------------------->
                <!-------------------------------------- Modal Footer Start -------------------------------------------------------->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btn-close" data-dismiss="modal">Close</button>
                </div>
                <!-------------------------------------- Modal Footer End -------------------------------------------------------->
            </div>
        </div>
    </div>
    <!--------------------------------------Modal for Row Clicking End ---------------------------------------------------------->

</div>
