<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="NLog" version="4.5.4" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.4" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.4" targetFramework="net461" />
  <package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
    <metadata>
      <id>MySuperPackage</id>
      <dependencies>
        <dependency id="WebActivatorEx" version="2.0.0" />
      </dependencies>
    </metadata>
  </package>
</packages>