.table-head {
    font: bold 100%/1.5 'Open Sans',ariel,sans-serif;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    color: #777;
    font-size: 11px;
    height: 11px;
    padding: 5px 0;
    text-transform: uppercase;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}

.table-row {
    position: relative;
    height: 30px;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3)
}

.table-custom {
    width: 97%;
    position: absolute;
    top: 40px;
    left: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 60px;
}
.table-container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px; 
}
    .stock-name {
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2c2c2c;
}


.col {
    text-align: center;
}

.sector-name {
    font-weight: normal;
    color: #777;
    display: block;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -4px;
}

.stock-img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.avatar {
    height: 100%;
    width: 100%;
}

.stock-info {
    vertical-align: middle;
    display: inline-block;
}

.change-num {
    font-weight: bold;
    position: relative;
    text-align: center;
    color: #e1191d;
}

.change-num-protsent {
    display: block;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    line-height: 12px;
    color: #e1191d;
}

.change-num-amount {
    display: block;
    font-size: 14px;
}

.stock-trade-button {
    float: left;
    position: relative;
    width: 100%;
    top: 5px;
}

.trade-button {
    float: left;
    position: relative;
    width: 100%;
    top: 5px;
}

.left-price-name:hover {
    background-color: #4a4e5b;
    border-color: #2c2c2c;
}

.price-value:hover {
    background-color: #f3f3f3;
    border-color: #DEDEDE
}

.price-value {
    white-space: nowrap;
    font-size: 14px;
    text-align: right;
    border-color: #ececec;
    border-style: solid;
    padding: 6px 6px 6px 20px;
    font-weight: bold;
    line-height: 11px;
    cursor: default;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    border-color: #DEDEDE;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-width: 1px 1px 1px 0;
    background-color: #f8f8f8;
}

.left-price-name {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    line-height: 24px;
    height: 25px;
    text-align: center;
    width: 25px;
    font-size: 14px;
    border-width: 1px 0 1px 1px;
    position: absolute;
    left: -1px;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    background-color: #707487;
    border-color: #4a4e5b;
    border-style: solid;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.sell-botton {
    white-space: nowrap;
    font-size: 13px;
    text-align: right;
    border-color: #ececec;
    border-style: solid;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    line-height: 22px;
    cursor: pointer;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    border-color: #DEDEDE;
    margin-left: 3px;
    margin-right: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-width: 1px 1px 1px 1px;
    background-color: #f8f8f8;
}



.victoria-sell:hover {
    background: #D24D57;
     
}

.victoria-buy:hover {
    background: #91ba4d;
     
}

.rank {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 5px;
    padding-left: 10px;
}

.orders {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 5px;
    text-align: center;
}

.profit {
    font-weight: bold;
    position: relative;
    text-align: center;
    color: #91ba4d;
}

.profit-perc {
    display: block;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    line-height: 12px ;
    
}

.profit-amount {
    display: block;
    font-size: 14px;
}

.score {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 5px;
    text-align: center;
}

.inner-header {
    position: relative;
    height: 30px;
    text-align: left;
    background-color: rgba(250,250,250,0.95);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    transition: left .2s ease-out;
    -webkit-transition: left .2s ease-out;
    z-index: 2;
    width: 100%;
    position: absolute;
    
}

.button {
    background-color: #f8f9fa;
    border-right: 1px solid #e0e0e0;
    color: black;
    padding: 7px 20px 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

    .button:hover {
        background-color: #f8f9fa;
        border-right: 1px solid #e0e0e0;
        padding: 7px 20px 7px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        display: inline-block;
        color: #00A5EE;
        font-weight: bold;
        position: relative;
        background-color: transparent;
        max-width: calc(100% - 320px);
        letter-spacing: -0.2px;
        vertical-align: middle;
    }

.title {
    display: inline-block;
    font-size: 12px;
    color: #0079b9;
    font-weight: bold;
    position: relative;
    background-color: transparent;
    max-width: calc(100% - 320px);
    padding-right: 7px 20px 7px 20px;
    letter-spacing: -0.2px;
    vertical-align: middle;
}

.units {
    display: block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    color: black;
    padding-top:5px;
    text-align:center;
}

.green {
    font-weight: bold;
    position: relative;
    text-align: center;
    color: #91ba4d;
}

.red {
    font-weight: bold;
    position: relative;
    text-align: center;
    color: #e1191d;
}

.footer1 {
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(253,253,253,1) 41%, rgba(244,244,244,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(253,253,253,1) 41%, rgba(244,244,244,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(253,253,253,1) 41%, rgba(244,244,244,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(253,253,253,1) 41%, rgba(244,244,244,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(253,253,253,1) 41%, rgba(244,244,244,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff4f4f4', GradientType=0);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff4f4f4',GradientType=0);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    bottom: 0;
    height: 80px;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 5;
    right: 0px;
}

.footer-unit {
    display: inline-block;
    float: left;
    height: 80px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
}

.footer-unit-value {
    font-size: 22px;
    letter-spacing: 0.2px;
    display: block;
}

.footer-unit-label {
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}

.a-menu {
    color: #D1D3E0;
    background-color: #4c505d;
    border-right: 1px solid #626877;
    box-sizing: border-box;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
    height: 100%;
    position: fixed;
    bottom: 0;
    top: 82px;
    width: 200px;
    left: 0;
    z-index: 4;
    -moz-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.a-menu-right {
    background-color: rgba(250,250,250,0.5);
    box-sizing: border-box;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
    height: 80%;
    position: fixed;
    bottom: 0;
    top: 83px;
    width: 260px;
    right: 0;
    z-index: 3;
    -moz-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.i-menu-icon {
    background-color: #5f6474;
    border-bottom: 1px solid #444854;
    border-top: 1px solid #6a6f7e;
    color: #fff;
    cursor: pointer;
    padding: 6px 22px;
}

.i-menu-link {
    cursor: pointer;
    display: block;
    padding: 7px 22px;
    line-height: 32px;
    position: relative;
    color: #D1D3E0;
    cursor: pointer;
    padding: 6px 22px;
    font-size: 20px;
    background-color: #4c505d;
}

    .i-menu-link:hover {
        color: #fff;
        cursor: pointer;
        display: block;
        padding: 7px 22px;
        line-height: 32px;
        position: relative;
        background-color: #5f6474;
        border-bottom: 1px solid #444854;
        border-top: 1px solid #6a6f7e;
        cursor: pointer;
        padding: 6px 22px;
        font-size: 20px;
        text-decoration: none;
    }

.w-head-clone {
    top: 5px;
    position: absolute;
    width: 100%;
}
.d-inline {
    display: inline !important;
}
.stock-info-img {
    
    height: 75px;
    width: 75px;
    vertical-align: middle;
    display: inline-block;
    position: relative;

}
.stock-profit-amount {
     
    font-size: 18px;
}
.stock-profit-perc {
    
    font-size: 12px;
    font-weight: normal;
    position: relative;
    line-height: 12px;
}
.stock-value {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    padding-top: 5px;
    text-align: center;
    
}
.stock-name-lg {
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2c2c2c;
}
.stock-name-sm {
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2c2c2c;
}
.stock-chart-bar {
    background-color: #fafafa;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    height: 30px;
    padding: 0px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 100px;
    z-index: 1;
    width: 100%;
    border-top: 1px solid #d7d7d7;
}
.stockinfo-trade-button {
    /* float: right; */
    position: absolute;
    /* width: 100%; */
    top: 45px;
    right: 50px;
}
.chart {
    background: white;
    width: 1000px;
    height: 500px;
  
    padding: 20px 20px 20px 0;
    top:100px;
    left:30px;
    position:absolute
}

.graph .labels.x-labels {
    text-anchor: middle;
}

.graph .labels.y-labels {
    text-anchor: end;
}


.graph {
    width: 1000px;
    height: 300px;
    top: 175px;
    left: 30px;
    position: absolute;

}

    .graph .grid {
        stroke: #ccc;
        stroke-dasharray: 0;
        stroke-width: 2;
    }

.labels {
    font-size: 13px;
}

.label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: black;
}

.login {
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 335px;
    box-shadow: 9px 9px 15px 0 rgba(0,0,0,0.4);
    top: 180px;
    left: 46px;
    position: absolute;
}
.players-table {
    background-color: rgba(0, 0, 0, 0.6);
    width: 63%;
    position: absolute;
    right: 30px;
    top: 180px;
    box-shadow: 9px 9px 15px 0 rgba(0,0,0,0.4);
    overflow-x: hidden;
    margin-bottom: 66px;
    padding: 24px;
    height: 335px;
    color: #fff;
}
.players-table-info {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    color: #fff;
}
.login-title {
    display: inline;
    font-size: 20px;
    color: #fff;
   background-color: transparent;
    font-family: 'num','Open Sans',ariel,sans-serif;
    
}
.login-head {
    font-size: 28px;
    min-height: 45px;
    line-height: 45px;
    text-align: left;
    font-weight: 300;
}
.background {
    background: #d5d7e2 url("../../../images/background.jpg");
    background-size: cover;
}
.active {
    background-color: rgba(0, 0, 0, 0.3);
}
.table-hover > tbody > tr:hover {
    background-color: transparent;
}
.btn-primary {
    padding: 3px 30px 3px 30px;
    font-size: 21px;
}
.logo {
    display: inline-block;
    height: 80px;
    width: 292px;
    margin-left: 7px;
    cursor: pointer;
    padding: 4px;
}
.header-background {
    background: url("../../../images/header.png");
    background-size: cover;
}
.header-item {
    padding: 30px 15px 30px 15px;
    font-size: 20px;
}
.transaction-bar {
    background-color: #fafafa;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    height: 25px;
    padding: 4px;
    position: absolute;
    text-align: center;
    font-size: 13px;
    z-index: 1;
    width: 100%;
    border-top: 1px solid #d7d7d7;
    color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    font-weight:bold;
}
.bank-head{

    background-color:#fff;
    padding-top:12px;
    padding-bottom:12px;
}
.players-name-bar {
    background-color: #fafafa;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    height: 30px;
    padding: 2px;
     
   
    font-size: 19px;
   
    z-index: 1;
    width: 100%;
    border-top: 1px solid #d7d7d7;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px; 
}
.user-image {
    height: 120px;
    width: 120px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin-left: 4px;
}
.user-name {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    
}
.blue-button {
    color: #fff;
    background-color: #3dbdec;
    border-color: #2e6da4;
}
    .blue-button:hover {
        color: #fff;
        background-color: #3caed8;
        border-color: #2e6da4;
    }
.user-info {
    /* padding-left: 20px; */
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
    /* background-color: white; */
    text-align: center;
}

.footer-bank-label{
color: #777;
font-size: 44px;
text-transform: uppercase;
display: block;

}
.blue {
    color: #3dbdec;
}
.wait-info {
    display: block;
    margin-top:10px; 
    text-align:center;
}
.game-code-bar {
    background-color: #fafafa;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    height: 63px;
    padding: 12px;
    position: absolute;
    font-size: 26px;
    width: 45%;
    top: 116px;
    left: 27%;
    border-top: 1px solid #d7d7d7;
}
.player-conecting-table {
    background-color: rgba(0, 0, 0, 0.6);
    width: 45%;
    position: absolute;
    left: 27%;
    top: 180px;
    box-shadow: 9px 9px 15px 0 rgba(0,0,0,0.4);
    overflow-x: hidden;
    margin-bottom: 66px;
    padding: 24px;
    height: 400px;
    color: #fff;
}
.preloader-player-connecting {
    top: 25px;
    position: relative;
     
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.4);
    overflow: scroll;
}
.table-hover > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .chat li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px Solid #B3A9A9;
    }

        .chat li.left .chat-body {
            margin-left: 60px;
        }

        .chat li.right .chat-body {
            margin-right: 60px;
        }


        .chat li .chat-body p {
            margin: 0;
            
        }

    .panel .slidedown .glyphicon, .chat .glyphicon {
        margin-right: 5px;
    }

.panel-body {
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.news-feed {
    top: 160px;
    position: absolute;
    width:100%;
}
.rounds {
    /* background-color: #fafafa; */
    /* box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15); */
    /* height: 25px; */
    padding: 1px;
    top: 120px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    width: 100%;
    /* border-top: 1px solid #d7d7d7; */
}
.table-history-modified {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    box-shadow: 9px 9px 15px 0 rgba(0,0,0,0.4);
    padding: 26px;
    color: #fff;
    top:64px;
}
.history-bar {
    background-color: #fafafa;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    height: 63px;
    padding: 12px;
    position: absolute;
    font-size: 26px;
    border-top: 1px solid #d7d7d7;
}
.table-history {
    top: 144px;
    position: absolute;
    width: 660px;
    left: 345px;
    right: 345px;
}
.change-panel {
    width: 63.5%;
    position: absolute;
    left: 218px;
    top: 100px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 60px;
    background-color: rgba(250,250,250,0.5);
}

.winner-panel {
    width: 63.5%;
    position: absolute;
    left: 218px;
    top: 100px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 60px;
    background-color: rgba(0,0,0,0.5);
}
.winner-table {
    margin-top: 60px;
    color: rgb(255,255,255);
    width: 64%;
    right: 33px;
    position: absolute;
    text-align:center;
}
    .winner-table  > table > tbody  {
        text-align: center;
    }
.winner-info {
    font-size: 17px;
    font-weight: bold;
    line-height: 40px;
    padding-top: 5px;
    text-align: center;
    color: rgb(255,255,255);
}
.game-winner-name {
   
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:block;
     
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 7px;
    line-height: 1.42857143;
    vertical-align: center;
    border-top: 1px solid #ddd;
    text-align: center;
}
.winner-table-head {
    font: bold 100%/1.5 'Open Sans',ariel,sans-serif;
    /* background-color: #f7f7f7; */
    border-bottom: 1px solid #d8d8d8;
    color: #fff;
    font-size: 11px;
    height: 11px;
    padding: 5px 0;
    text-transform: uppercase;
    /* box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1); */
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    text-align: center;
}
.winner-info-img {
    position: absolute;
    /* padding-left: 20px; */
    /* padding-bottom: 10px; */
    /* border-bottom: 1px solid #d7d7d7; */
    top: 52px;
    left: 85px;
}
.winner-img {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin-left: 40px;
}
.winner-value {
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    padding-top: 5px;
    text-align: center;
}
.winner-bar {
    background-color: rgba(0,0,0,0.7);
    
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    height: 54px;
    padding: 9px;
    position: absolute;
    text-align: center;
    font-size: 26px;
    z-index: 1;
    width: 100%;
    border-top: 1px solid #d7d7d7;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.graphs-panel {
    
   margin-top: 35px;
}
#canvas, #sectorCanvas, #stockCanvas {
    display: block !important;
    width: 800px !important;
    height: 415px !important;
}
.modal-color {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.create-game-loader {
    position: absolute;
    bottom: 17px;
    right: 107px;
    display:none;
}
.join-table-info {
 
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 46px;
    color: #fff;
}
}